# compiled class file
*.class

# libraries
*.so

# log file
*.log

# package file
*.jar

# IntelliJ
.idea
*.iml

# compiler outputs
**/target/**

# test results
test-results

# key lists for object downloading
*keylist